.banner {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hero.jpeg") !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
  width: 100vw;
}

.MuiContainer-root {
  margin: 0 !important;
  padding: 0 !important;
}

.startpage-container {
  padding-top: 60px !important;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.text-wrap {
  text-shadow: 1px 2px 3px #666;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Baloo Tamma 2", cursive;
  color: white;
  font-size: 1.5rem;
  padding: 40px;
  padding-top: 100px;
  p {
    margin: 0;
  }
  h2 {
    margin: 0;
  }
}

.img-wrap {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("/images/bannerwhite.svg");
  flex: 1;
  /* Set a specific height */
  height: 300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.icon-scroll,
.icon-scroll::before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 10%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.second-page {
  margin-top: 20px !important;
}

.second-title {
  font-size: 50px;
  text-align: center;
  font-family: "Baloo Tamma 2", cursive;
  color: black;
  background:white;
  margin: 0;
  padding: 40px;
}

.text-field-login {
  .MuiFormLabel-root {
    color: white !important;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@media screen and (min-width: 992px) {
  .banner {
    height: 100vh;
  }
}

.pulic-url-wrap{
color: white;
font-size: 2rem;
font-family: "Baloo Tamma 2", cursive;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


p{
  margin: 0;
}
a{
 margin: 0;
  color: beige;
  text-decoration: underline;
}
}

// .login-button {
//   width: 100% !important;
// }

// .login-grid {
//   width: 100% !important;

// @media screen and (max-width: 1000px) {
//   .wave2 {
//     display: none;
//   }

//   .wave {
//     display: none;
//   }

//   .login-button {
//     margin-top: 20px !important;
//   }
// }
