.card-holder {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a0137;
//   -webkit-box-shadow: 0px 3px 10px 5px rgba(148,145,148,1);
//   -moz-box-shadow: 0px 3px 10px 5px rgba(148,145,148,1);
//   box-shadow: 0px 3px 10px 5px rgba(148,145,148,1);

  height: 200px;
  padding: 50px;
  font-family: "Baloo Tamma 2", cursive;
  border: 1px solid lightgray;
  color: white;
}

.number {
  width: 60px;
  height: 60px;
  position: absolute;
  left: -20px;
  top: -30px;
  border-radius: 50%;
  background-color: white;
  font-size: 1.3rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Baloo Tamma 2", cursive;
  border: 2px solid lightgray;

}


.card-text{
max-width: 220px;

}

.first-page{
    height: 500px !important;
}

.qr-start{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 9px;
}

.img-second{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-wrap{
    max-width: 100%;
    max-height: 100%;
}

.text-second{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: "Baloo Tamma 2", cursive;

    h3{
        font-size: 2rem;
        
    }
    p{
        font-size: 1.2rem;
        margin: 5px;
    }
  
}

.second{

    padding: 50px !important;
}

// .second:nth-child(2){
//     background: #1a0137;
//     color: white;
// }