.wrapper-bottom {
    padding: 20px;
  }
  
  .profile-wrapper {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/images/hero.jpeg") !important;
    background-size: cover !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .settings-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    flex-direction: column;
    color: white;
    small {
      font-family: "Baloo Tamma 2", cursive;
      font-size: 12px
    }
    cursor: pointer;
  
    &:visited {
      color: white;
    }
    &:link {
      text-decoration: none;
    }
  }

  

  .settings-icon {
    height: 50px;
    width: 50px;
  
    border-radius: 50%;
    color: white !important;
    font-size: 3rem !important;
  }
  
  .email-wrap{
    display: flex;
    align-items: center;
    p{
      font-size: 1rem;
    }
  }
  
  .text-wrap-profile {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    padding-bottom: 10px !important;
    text-shadow: 1px 2px 3px #666;
    font-family: "Baloo Tamma 2", cursive;
    color: white;
    font-size: 1.5rem;
    padding: 40px;
    p {
      margin: 0;
    }
    h2 {
      margin: 0;
      text-transform: uppercase;
    }
  }
  
  .edit-button-mode{
    background: white !important;
    border-radius: 9px !important;
  float: right;
  margin-bottom: 10px !important;
  }
  
  .highlight-text {
    border-top: 1px solid lightgray !important;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 40px;
    font-family: "Baloo Tamma 2", cursive;
    font-size: 16px;
  }
  
  
  .edit-active-social{
    border: 10px solid white !important;
  }

  .counter{
    color: white;
    font-family: "Baloo Tamma 2", cursive;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  .qr-code-public{
    display: flex;
    justify-content: center;
  }

  .qr-public-img{
    width: 110px;
    border-radius: 9px;
  }

  .show-button{
    background-color: white !important;
    color: white;
    margin: 15px 0 !important; 
  }


  .no-socials-text{
    text-shadow: 1px 2px 3px #666;
    font-family: "Baloo Tamma 2", cursive;
    color: white;
    margin: 0 auto;
  }

  .bottom-img-logo{
    height: 100px;
 display: flex;
  }

  .profile-logo {
    height: 100px;
  }