.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.img-div{
  flex: 1;
}
.navbar-logo {
  height: 100px;
}

.login-button-nav {
  height: 40px;
  font-family: "Baloo Tamma 2", cursive;
  color: white !important;
  background-color: #1f67e4 !important;
  width: 100px;
}


.user-icon{
  font-size: 3rem !important;
  color:white;
  background: black;
  border-radius: 50%;
}

@media screen and (max-width: 550px) {
  .navbar-logo {
    width: 150px;
  }
}